<div class="container">
  <div class="row">
    <div class="top-sentence">
      <span class="topsent1">스페셜한 하루를 위해!</span><br>
      <span class="topsent2">특별해지는 경험을 해보세요.</span>
    </div>
  </div>
  <div class="row content-row">
    <div class="col-md-8">
      <div class="content-img1">
        <span>가로수 길</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-img1">
        <span>대왕커피</span>
      </div>
    </div>
  </div>
  
  <div class="row content-row">
    <div class="col-md-4">
      <div class="content-img1">
        <span>홍대</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-img1">
        <span>홍대</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="content-img1">
        <span>홍대</span>
      </div>
    </div>
  </div>
</div>