<div class="container">
  <div class="row">
    <div class="top-sentence">
      <span class="topsent1">스페셜한 하루를 위해!</span><br>
      <span class="topsent2">특별해지는 경험을 해보세요.</span>
    </div>
  </div>
    <div class="cold-lg-6">
      <div class="row content-row">
        <div class="col-md-6">
          <div class="content-img1">
            <span>가로수 길</span>
          </div>
        </div>
        <div class="col-md-6">
          <div id="googleMap" style="width:600px;height:450px;"></div>
        </div>
      </div>
    </div>
</div>